html, body, #root {
    height: 100%;
}
.app {
    background-color: #E8E8E8;
}
.card {
    width: 55%;
}

@media screen and (max-width: 575px){
    .form {
        display: flex;
        flex-direction: column;
    }
    .form .row:nth-child(1) {
        order: 2;
    }
    .form .row:nth-child(2) {
        order: 1;
    }
    .form .row:nth-child(3) {
        order: 3;
    }
    .form .row:nth-child(4) {
        order: 4;
    }
    .card {
        width: 80%;
    }
    .col {
        flex-basis: unset;
    }
    .submit-button {
        width: 100%;
    }
}