.app {
    background-color: #E8E8E8;
    height: 725px;
}
.card {
    width: 55%;
    top: 20%;
    margin: 0 auto;
    min-height: 200px;
}
.card-top {
    top: 35%;
}

@media screen and (max-width: 575px){
    .card {
        width: 100%;
    }
    .col {
        flex-basis: unset;
    }
}